[Unit]
Description=Timer for resticprofile backup
Wants=network-online.target

[Timer]
OnCalendar=*-*-* 14:20:00
Persistent=true

[Install]
WantedBy=timers.target