[Unit]
Description=resticprofile backup
After=local-fs.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/resticprofile-backup.sh backup

[Install]
WantedBy=multi-user.target
