[Unit]
Description=resticprofile forget
After=local-fs.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/resticprofile-backup.sh forget

[Install]
WantedBy=multi-user.target
