[Unit]
Description=Resilio Sync - a fast, reliable file and folder syncing solution for homes and businesses.
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=resilio-sync-claude
Image=ghcr.io/auricom/resilio-sync:2.8.1@sha256:5c782b6e24cb774e96b0e9dbeda850ed39cefc3dbefe6b91ac8bb67e37bde80f
Volume=/usr/etc/resilio-sync/claude.conf:/app/sync.conf:ro
Volume=resilio-sync-claude:/config:rslave
Volume=/var/mnt/vol1/backups:/sync/backups:rslave
Volume=/var/mnt/vol1/shared-documents:/sync/shared-documents:rslave
Volume=/var/mnt/vol1/photo:/sync/photo:rslave
Volume=/var/mnt/vol1/home/claude:/sync/home/claude:rslave
Volume=/var/mnt/vol1/music_transcoded:/sync/music_transcoded:rslave
Volume=/var/mnt/vol1/video:/sync/video:rslave
User=root:root
SecurityLabelType=container_runtime_t
Label=traefik.enable="true"
Label=traefik.http.routers.resilio-sync-claude.rule=Host'(`resilio-sync-claude.feisar.ovh`)'
Label=traefik.http.routers.resilio-sync-claude.entrypoints="websecure"
Label=traefik.http.services.resilio-sync-claude.loadbalancer.server.port="8888"

[Install]
WantedBy=multi-user.target
