[Unit]
Description=Resilio Sync - a fast, reliable file and folder syncing solution for homes and businesses.
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=resilio-sync-helene
Image=ghcr.io/auricom/resilio-sync:3.0.0@sha256:f0df5323ad7a8b0402cff6d2fb1e550e8b8f8af7475f530f12fa190c8383e9b0
Volume=/usr/etc/resilio-sync/helene.conf:/app/sync.conf:ro
Volume=resilio-sync-helene:/config:rslave
Volume=/var/mnt/vol1/backups:/sync/backups:rslave
Volume=/var/mnt/vol1/shared-documents:/sync/shared-documents:rslave
Volume=/var/mnt/vol1/photo:/sync/photo:rslave
Volume=/var/mnt/vol1/home/helene:/sync/helene:rslave
User=root:root
SecurityLabelType=container_runtime_t
Label=traefik.enable="true"
Label=traefik.http.routers.resilio-sync-helene.rule=Host'(`resilio-sync-helene.feisar.ovh`)'
Label=traefik.http.routers.resilio-sync-helene.entrypoints="websecure"
Label=traefik.http.services.resilio-sync-helene.loadbalancer.server.port="8888"

[Install]
WantedBy=multi-user.target
