[Unit]
Description=Resilio Sync - a fast, reliable file and folder syncing solution for homes and businesses.
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=resilio-sync-claude
Image=ghcr.io/auricom/resilio-sync:3.0.3@sha256:791a35477c7d6e93f2ee51f9a9f718548a59339875ca3a241f76c3e4f6daa7d6
Volume=/usr/etc/resilio-sync/claude.conf:/app/sync.conf:ro
Volume=resilio-sync-claude:/config:rslave
Volume=/var/mnt/vol1/shared-documents:/sync/shared-documents:rslave
Volume=/var/mnt/vol1/photo:/sync/photo:rslave
Volume=/var/mnt/vol1/home/claude:/sync/home/claude:rslave
Volume=/var/mnt/vol1/music_transcoded:/sync/music_transcoded:rslave
Volume=/var/mnt/vol1/video:/sync/video:rslave
User=root:root
SecurityLabelType=container_runtime_t
Label=traefik.enable="true"
Label=traefik.http.routers.resilio-sync-claude.rule=Host'(`resilio-sync-claude.feisar.ovh`)'
Label=traefik.http.routers.resilio-sync-claude.entrypoints="websecure"
Label=traefik.http.services.resilio-sync-claude.loadbalancer.server.port="8888"

[Install]
WantedBy=multi-user.target
