[Unit]
Description=Hard Drive S.M.A.R.T Monitoring, Historical Trends & Real World Failure Thresholds
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3
Environment=SOPS_AGE_KEY_FILE=/root/.config/sops/age/keys.txt
ExecStartPre=/bin/sh -c 'test -f "${SOPS_AGE_KEY_FILE}" || exit 1'
ExecStartPre=/bin/sh -c 'mkdir -p /etc/scrutiny-collector'
ExecStartPre=/usr/bin/sops --config /usr/share/sops/.sops.yaml exec-file /usr/share/scrutiny-collector/config.sops.env "cp {} /etc/scrutiny-collector/config.env ; chmod 400 /etc/scrutiny-collector/config.env"

[Container]
AutoUpdate=registry
ContainerName=scrutiny-collector
EnvironmentFile=/etc/scrutiny-collector/config.env
Image=ghcr.io/analogj/scrutiny:master-collector@sha256:2af65b79cc876a5147803ec41e6901785516a025c2ebf8486a4e206ae9c7948a
PodmanArgs=--privileged
PodmanArgs=--cap-add=SYS_ADMIN
PodmanArgs=--cap-add=SYS_RAWIO
Volume=/run/udev:/run/udev:ro,rslave
Volume=/dev/nvme0:/dev/nvme0:ro,rslave
Volume=/dev/sda:/dev/sda:ro,rslave
Volume=/dev/sdb:/dev/sdb:ro,rslave
SecurityLabelType=container_runtime_t
Network=host

[Install]
WantedBy=default.target
