[Unit]
Description=High-Performance Object Storage system

[Service]
Restart=always
RestartSec=3
TimeoutStartSec=60
Environment=SOPS_AGE_KEY_FILE=/root/.config/sops/age/keys.txt
ExecStartPre=/usr/bin/sops --config /usr/share/sops/.sops.yaml exec-file /usr/share/minio/config.sops.env "/usr/bin/podman secret create minio {}"

[Container]
Annotation=run.oci.keep_original_groups=1
AutoUpdate=registry
ContainerName=minio
Environment=MINIO_PROMETHEUS_JOB_ID=minio
Environment=MINIO_PROMETHEUS_AUTH_TYPE=public
Environment=MINIO_UPDATE=off
Secret=minio
PublishPort=9001:9001
Image=quay.io/minio/minio:latest
Exec=server /data --address :9000 --console-address :9001
User=root:root

[Install]
WantedBy=default.target
