[Unit]
Description=Prometheus exporter for hardware and OS metrics exposed by *NIX kernels, written in Go with pluggable metric collectors.

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=node-exporter
Image=cgr.dev/chainguard/prometheus-node-exporter:latest
Exec=--path.rootfs=/host
PodmanArgs=--pid=host
Volume=/:/host:ro,rslave
Label=traefik.enable="true"
Label=traefik.http.routers.node-exporter.rule=Host'(`storage.feisar.ovh`) && Path(`/node-exporter`)'
Label=traefik.http.routers.node-exporter.entrypoints="websecure"
Label=traefik.http.services.node-exporter.loadbalancer.server.port="9100"

[Install]
WantedBy=default.target
