[Unit]
Description=Prometheus exporter for podman environments exposing containers, pods, images, volumes and networks information.

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=podman-exporter
Image=quay.io/navidys/prometheus-podman-exporter:latest
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Volume=/run/podman/podman.sock:/run/podman/podman.sock
Network=host
SecurityLabelDisable=true
User=root
Exec=--collector.enhance-metrics
Label=traefik.enable="true"
Label=traefik.http.routers.podman-exporter.rule=Host'(`storage.feisar.ovh`) && Path(`/podman-exporter`)'
Label=traefik.http.routers.podman-exporter.entrypoints="websecure"
Label=traefik.http.services.podman-exporter.loadbalancer.server.port="9882"

[Install]
WantedBy=default.target
