[Unit]
Description=Resilio Sync - a fast, reliable file and folder syncing solution for homes and businesses.

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=resilio-sync-claude
Image=ghcr.io/auricom/resilio-sync:rolling
User=root:root
Volume=/usr/etc/resilio-sync/claude.conf:/app/sync.conf:ro
Volume=resilio-sync-claude:/config:z
Volume=/var/mnt/vol1/backups:/sync/backups:bind
Volume=/var/mnt/vol1/shared-documents:/sync/shared-documents:bind
Volume=/var/mnt/vol1/photo:/sync/photo:bind
Volume=/var/mnt/vol1/home/claude:/sync/home/claude:bind
Volume=/var/mnt/vol1/music_transcoded:/sync/music_transcoded:bind
Volume=/var/mnt/vol1/video:/sync/video:bind
Label=traefik.http.routers.resilio-sync-claude.rule=Host'(`resilio-sync-claude.feisar.ovh`)'
Label=traefik.http.routers.resilio-sync-claude.entrypoints="websecure"
Label=traefik.http.services.resilio-sync-claude.loadbalancer.server.port="8888"

[Install]
WantedBy=multi-user.target
