[Unit]
Description=Resilio Sync - a fast, reliable file and folder syncing solution for homes and businesses.

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=resilio-sync-helene
Image=ghcr.io/auricom/resilio-sync:rolling
Volume=/usr/etc/resilio-sync/helene.conf:/app/sync.conf:ro
Volume=resilio-sync-helene:/config:bind
Volume=/var/mnt/vol1/backups:/sync/backups:bind
Volume=/var/mnt/vol1/shared-documents:/sync/shared-documents:bind
Volume=/var/mnt/vol1/photo:/sync/photo:bind
Volume=/var/mnt/vol1/home/helene:/sync/helene:bind
Label=traefik.enable="true"
Label=traefik.http.routers.resilio-sync-helene.rule=Host'(`resilio-sync-helene.feisar.ovh`)'
Label=traefik.http.routers.resilio-sync-helene.entrypoints="websecure"
Label=traefik.http.services.resilio-sync-helene.loadbalancer.server.port="8888"

[Install]
WantedBy=multi-user.target
