[Unit]
Description=Prometheus exporter for podman environments exposing containers, pods, images, volumes and networks information.
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=podman-exporter
Image=quay.io/navidys/prometheus-podman-exporter:v1.18.0@sha256:9215f242616c3661e3d4ded60ea3dfc773b71d4908430e5958fd5ae28bc89aef
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Volume=/run/podman/podman.sock:/run/podman/podman.sock
Network=host
SecurityLabelDisable=true
User=root
Exec=--collector.enhance-metrics

[Install]
WantedBy=default.target
