[Unit]
Description=Prometheus exporter for podman environments exposing containers, pods, images, volumes and networks information.
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=podman-exporter
Image=quay.io/navidys/prometheus-podman-exporter:v1.21.0@sha256:2ebb9e09101d8cc1e28e3f306b56a722450918e628208435201ed39bd62403cb
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Volume=/run/podman/podman.sock:/run/podman/podman.sock
Network=host
SecurityLabelDisable=true
User=root
Exec=--collector.enhance-metrics

[Install]
WantedBy=default.target
