[Unit]
Description=Prometheus exporter for podman environments exposing containers, pods, images, volumes and networks information.
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=podman-exporter
Image=quay.io/navidys/prometheus-podman-exporter:v1.17.0@sha256:cd10138470a79bc03c484204e362895bdeb72f11cd6bffcd4cfbd6a699ee52db
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Volume=/run/podman/podman.sock:/run/podman/podman.sock
Network=host
SecurityLabelDisable=true
User=root
Exec=--collector.enhance-metrics

[Install]
WantedBy=default.target
