[Unit]
Description=Setup Podman
ConditionPathExists=!/etc/ucore/%N.stamp
ConditionPathExists=/etc/ucore/ucore-autorebase.stamp
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl enable podman.socket
ExecStart=/usr/bin/systemctl enable podman-auto-update.timer
ExecStart=/usr/bin/systemctl enable netavark-firewalld-reload.service
ExecStartPost=/usr/bin/touch /etc/ucore/%N.stamp

[Install]
WantedBy=default.target