[Unit]
Description=Wireguard Client
Wants=network-online.target
After=network-online.target
ConditionPathExists=/usr/share/wireguard/wg0-client.sops.conf
Environment=SOPS_AGE_KEY_FILE=/root/.config/sops/age/keys.txt
ExecStartPre=/bin/sh -c 'test -f "${SOPS_AGE_KEY_FILE}" || exit 1'
ExecStartPre=mkdir -p /etc/wireguard
ExecStartPre=/usr/bin/sops --config /usr/share/sops/.sops.yaml exec-file /usr/share/wireguard/wg0-client.sops.conf "cp {} /etc/wireguard/wg0-client.conf ; chmod 400 /etc/wireguard/wg0-client.conf"

[Service]
ExecStart=wg-quick up /etc/wireguard/wg0-client.conf

[Install]
WantedBy=default.target multi-user.target