[Unit]
Description=filebrowser provides a file managing interface within a specified directory and it can be used to upload, delete, preview, rename and edit your files.
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=filebrowser
Environment=TZ=Europe/Paris
Environment=FB_DATABASE=/config/filebrowser.db
Environment=FB_ROOT=/var/mnt
Environment=FB_LOG=stdout
Environment=FB_ADDRESS=0.0.0.0
Environment=FB_PORT=7000
Image=ghcr.io/auricom/filebrowser:2.32.0@sha256:468797dd2b04c02723a5082e7fb8d5f7aeed3eb90198d32092e5c6100378b4d5
Volume=filebrowser.volume:/config
Volume=/var/mnt/vol1/apps/frigate:/var/mnt/vol1/apps/frigate:bind
Volume=/var/mnt/vol1/apps/sharry:/var/mnt/vol1/apps/sharry:bind
Volume=/var/mnt/vol1/downloads:/var/mnt/vol1/downloads:bind
Volume=/var/mnt/vol1/home/claude:/var/mnt/vol1/home/claude:bind
Volume=/var/mnt/vol1/home/helene:/var/mnt/vol1/home/helene:bind
Volume=/var/mnt/vol1/music:/var/mnt/vol1/music:bind
Volume=/var/mnt/vol1/music_transcoded:/var/mnt/vol1/music_transcoded:bind
Volume=/var/mnt/vol1/photo:/var/mnt/vol1/photo:bind
Volume=/var/mnt/vol1/piracy:/var/mnt/vol1/piracy:bind
Volume=/var/mnt/vol1/shared-documents:/var/mnt/vol1/shared-documents:bind
Volume=/var/mnt/vol1/video:/var/mnt/vol1/video:bind
Volume=/var/mnt/vol2/apps/minio:/var/mnt/vol2/apps/minio:bind
SecurityLabelType=container_runtime_t
# Traefik
Label=traefik.enable="true"
Label=traefik.http.routers.filebrowser.rule=Host'(`filebrowser.feisar.ovh`)'
Label=traefik.http.routers.filebrowser.entrypoints="websecure"
Label=traefik.http.services.filebrowser.loadbalancer.server.port="7000"

[Install]
WantedBy=default.target
