[Unit]
Description=filebrowser provides a file managing interface within a specified directory and it can be used to upload, delete, preview, rename and edit your files.
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=filebrowser
Environment=TZ=Europe/Paris
Environment=FB_DATABASE=/config/filebrowser.db
Environment=FB_ROOT=/var/mnt/vol1/
Environment=FB_LOG=stdout
Environment=FB_ADDRESS=0.0.0.0
Environment=FB_PORT=7000
Image=ghcr.io/auricom/filebrowser:2.31.2@sha256:9df30f2c00e9d3f802fe4849814ff507b4d7ad1794fc12b20d55269a263f102d
Volume=filebrowser.volume:/config
Volume=/var/mnt/vol1/apps/frigate:/var/mnt/vol1/apps/frigate:bind
Volume=/var/mnt/vol1/backups:/var/mnt/vol1/backups:bind
Volume=/var/mnt/vol1/downloads:/var/mnt/vol1/downloads:bind
Volume=/var/mnt/vol1/home/claude:/var/mnt/vol1/home/claude:bind
Volume=/var/mnt/vol1/home/helene:/var/mnt/vol1/home/helene:bind
Volume=/var/mnt/vol1/music:/var/mnt/vol1/music:bind
Volume=/var/mnt/vol1/music_transcoded:/var/mnt/vol1/music_transcoded:bind
Volume=/var/mnt/vol1/piracy:/var/mnt/vol1/piracy:bind
Volume=/var/mnt/vol1/photo:/var/mnt/vol1/photo:bind
Volume=/var/mnt/vol1/shared-documents:/var/mnt/vol1/shared-documents:bind
Volume=/var/mnt/vol1/video:/var/mnt/vol1/video:bind
Volume=/var/mnt/vol2/apps/minio:/var/mnt/vol2/apps/minio:bind
SecurityLabelType=container_runtime_t
# Traefik
Label=traefik.enable="true"
Label=traefik.http.routers.filebrowser.rule=Host'(`filebrowser.feisar.ovh`)'
Label=traefik.http.routers.filebrowser.entrypoints="websecure"
Label=traefik.http.services.filebrowser.loadbalancer.server.port="7000"

[Install]
WantedBy=default.target
