[Unit]
Description=Traefik Container
After=network-online.target
Wants=network-online.target
RequiresMountsFor=%t/containers
RequiresMountsFor=/

[X-Container]
Image=docker.io/library/traefik:v3.0.0@sha256:7996bdae8aaa70eaacf2978b6c949de5b68c0a24ddc3e40c06344ecc88cfaea3
ContainerName=traefik
Environment=NAME=traefik
EnvironmentFile=/usr/etc/traefik/traefik.sops.env

Volume=/usr/etc/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro
Volume=/usr/share/treaefik:/data
Network=host
AddCapability=NET_BIND_SERVICE
SecurityLabelType=container_runtime_t

[Service]
Restart=always
Environment=PODMAN_SYSTEMD_UNIT=%n
KillMode=mixed
ExecStopPost=-/usr/bin/podman rm -f -i --cidfile=%t/%N.cid
ExecStopPost=-rm -f %t/%N.cid
Delegate=yes
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
ExecStart=/usr/bin/podman run --name=ws --cidfile=%t/%N.cid --replace --rm --cgroups=split --sdnotify=conmon -d -v /:/host --env NAME=ws --label io.containers.autoupdate=registry --pid host --privileged quay.io/cockpit/ws:latest /container/label-run
TimeoutStartSec=900
RestartSec=3

[Install]
WantedBy=default.target