[Unit]
Description=Prometheus exporter for hardware and OS metrics exposed by *NIX kernels, written in Go with pluggable metric collectors.
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=node-exporter
Image=cgr.dev/chainguard/prometheus-node-exporter:latest@sha256:5e9fe23ebae2f28300c41e9574fa7698268578b3e0e246b4588819ace0bdab36
Exec=--path.rootfs=/host
PodmanArgs=--pid=host
Volume=/:/host:ro,rslave
Network=host

[Install]
WantedBy=default.target
