[Unit]
Description=Prometheus exporter for hardware and OS metrics exposed by *NIX kernels, written in Go with pluggable metric collectors.
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=node-exporter
Image=cgr.dev/chainguard/prometheus-node-exporter:latest@sha256:a8e9fdbe6938201c0dbd20d59635824dc8b5c4818442ef0e3002eace64f13cbb
Exec=--path.rootfs=/host
PodmanArgs=--pid=host
Volume=/:/host:ro,rslave
Network=host

[Install]
WantedBy=default.target
