[Unit]
Description=Prometheus exporter for hardware and OS metrics exposed by *NIX kernels, written in Go with pluggable metric collectors.
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=node-exporter
Image=cgr.dev/chainguard/prometheus-node-exporter:latest@sha256:eb7426c96f5a1317f1b331a0a6edcd5abeb519ab79222b376416c21b5582abae
Exec=--path.rootfs=/host
PodmanArgs=--pid=host
Volume=/:/host:ro,rslave
Network=host

[Install]
WantedBy=default.target
