[Unit]
Description=Kopia
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=kopia
Environment=TZ=Europe/Paris
Image=docker.io/kopia/kopia:20240529.0.203157@sha256:767f8dae3927f3e4d130880a1f8b9cb67fab941746a61ff7e971e42c822653c6
Exec=server start --insecure --address 0.0.0.0:8080 --override-hostname storage.feisar.ovh --override-username claude --without-password --metrics-listen-addr 0.0.0.0:8090
Volume=/usr/etc/resilio-sync/claude.conf:/app/sync.conf:ro
Volume=kopia-cache:/app/cache
Volume=kopia-logs:/app/logs
Volume=/var/mnt/vol1/apps/minio/kopia:/var/mnt/vol1/apps/minio/kopia
SecurityLabelType=container_runtime_t
Label=traefik.enable="true"
Label=traefik.http.routers.kopia.rule=Host'(`kopia.feisar.ovh`)'
Label=traefik.http.routers.kopia.entrypoints="websecure"
Label=traefik.http.routers.kopia.service="kopia"
Label=traefik.http.services.kopia.loadbalancer.server.port="8080"
Label=traefik.http.routers.kopia-metrics.rule=Host'(`kopia.feisar.ovh`) && Path(`/metrics`)'
Label=traefik.http.routers.kopia-metrics.entrypoints="websecure"
Label=traefik.http.routers.kopia-metrics.service="kopia-metrics"
Label=traefik.http.services.kopia-metrics.loadbalancer.server.port="8090"
[Install]
WantedBy=multi-user.target
