[Unit]
Description=Kopia
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=kopia
Environment=TZ=Europe/Paris
Image=docker.io/kopia/kopia:20240909.0.181011@sha256:51784ce0961940846f4f47cab2d4f58e2e0cb467de357f9a80279b149a00c06e
Exec=server start --insecure --address 0.0.0.0:8080 --override-hostname storage.feisar.ovh --override-username claude --without-password --metrics-listen-addr 0.0.0.0:8090
Volume=/usr/etc/resilio-sync/claude.conf:/app/sync.conf:ro
Volume=kopia-cache:/app/cache
Volume=kopia-logs:/app/logs
Volume=/var/mnt/vol2/apps/minio/kopia:/var/mnt/vol2/apps/minio/kopia
SecurityLabelType=container_runtime_t
Label=traefik.enable="true"
Label=traefik.http.routers.kopia.rule=Host'(`kopia.feisar.ovh`)'
Label=traefik.http.routers.kopia.entrypoints="websecure"
Label=traefik.http.routers.kopia.service="kopia"
Label=traefik.http.services.kopia.loadbalancer.server.port="8080"
Label=traefik.http.routers.kopia-metrics.rule=Host'(`kopia.feisar.ovh`) && Path(`/metrics`)'
Label=traefik.http.routers.kopia-metrics.entrypoints="websecure"
Label=traefik.http.routers.kopia-metrics.service="kopia-metrics"
Label=traefik.http.services.kopia-metrics.loadbalancer.server.port="8090"
[Install]
WantedBy=multi-user.target
