[Unit]
Description=Kopia
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=900
Restart=always
RestartSec=3

[Container]
AutoUpdate=registry
ContainerName=kopia
Environment=TZ=Europe/Paris
Image=docker.io/kopia/kopia:0.21.1@sha256:24884f5e9e5f9c19746eddb51fb3449ceb4b6bb0ad6681e145bed53eb2d50125
Exec=server start --insecure --address 0.0.0.0:8080 --override-hostname storage.feisar.ovh --override-username claude --without-password --metrics-listen-addr 0.0.0.0:8090
Volume=kopia-cache:/app/cache
Volume=kopia-logs:/app/logs
Volume=/var/mnt/vol2/apps/minio/kopia:/var/mnt/vol2/apps/minio/kopia
SecurityLabelType=container_runtime_t
Label=traefik.enable="true"
Label=traefik.http.routers.kopia.rule=Host'(`kopia.feisar.ovh`)'
Label=traefik.http.routers.kopia.entrypoints="websecure"
Label=traefik.http.routers.kopia.service="kopia"
Label=traefik.http.services.kopia.loadbalancer.server.port="8080"
Label=traefik.http.routers.kopia-metrics.rule=Host'(`kopia.feisar.ovh`) && Path(`/metrics`)'
Label=traefik.http.routers.kopia-metrics.entrypoints="websecure"
Label=traefik.http.routers.kopia-metrics.service="kopia-metrics"
Label=traefik.http.services.kopia-metrics.loadbalancer.server.port="8090"
[Install]
WantedBy=multi-user.target
